// @import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid";
// @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";

@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wttj_fullstack-app {
  background-color: #e6e6e6;

  @apply fixed pin-t pin-l w-full h-full;
  padding-top: 3rem;

  .navbar {
    @apply absolute h-12 w-full pin-t pin-l flex items-center text-white px-4;
    background-color: #3dd095;

    .brand {
      @apply font-bold;
    }
  }

  .wttj_fullstack-wrapper {
    display: flex;
    padding: 25px;
    align-items: flex-start;
    overflow: scroll;
    height: 100%;
  }
}

.wttj_fullstack-list {
  @apply  mr-6 ;
  min-width: 24rem;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: #888 0px 0px 2px;

  .wttj_fullstack-list-header {
    @apply mt-0 p-4;
    box-shadow: rgb(201, 201, 201) 0px 1px 0px;
    text-transform: uppercase;

    span {
      background-color: rgb(91, 145, 245);
      // padding: 0.5rem;
      display: inline-flex;
      height: 30px;
      width: 30px;
      border-radius: 50%;

      color: white;

      justify-content: center;
      align-items: center;
    }
  }

  .wttj_fullstack-list-wrapper {
    @apply py-2;
    min-height: 50px;
    outline: none;
  }

  .wttj_fullstack-list-card-wrapper {
    .wttj_fullstack-list-card {
      border-radius: 5px;
      padding: 0.75rem;
      box-shadow: #888 0px 0px 2px;
      cursor: pointer;

      &:hover {
        background-color: darken($color: white, $amount: 3);
      }
    }

    &.draggable-mirror {
      .wttj_fullstack-list-card {
        transform: rotate(5deg) !important;
        @apply bg-grey-lighter;
      }
    }
  }
}
